@page
@model IndexModel
@using MyWebApp 
@{
    ViewData["Title"] = "Home page";
    var poss = ViewData["posts"] as List<Article>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ol>
    @foreach (var post in poss)
    {
        <li>@post.Title</li>        
    }
</ol>